#container{
    position: absolute;
    top: 20%;
    left: 46%;
    font-size: 20px;
}
#counter{
    position: absolute;
    top: 30%;
    left:50%;
    font-size: 30px;
}
#btn{
    position: absolute;
    top: 50%;
    left: 40%;
}
button{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    font-weight: bold;
    border-radius: 5px;
    
}
